<template>
  <component :is="currentTabComponent"
             :store-action="storeAction"
             :get-action="getAction"
             :bootstrap="!notBootstrap"
             v-model="filesManagerModel"
             :show-file-action="showFileAction"
             :edit-action="editAction"
             :remove-action="removeAction"
  >
  </component>
</template>

<script>
import FmButton from './FmButton'
import FmList from './FmList'
import FmModal from './FmModal'
import FmUploader from './FmUploader'
import FmImg from './FmImg'

export default {
  component: {
    FmButton, FmList, FmModal, FmUploader, FmImg
  },
  props: {
    componentName: {
      type: String,
      default: 'list'
    },
    value: [String, Number, Array, Object],
    notBootstrap: {
      type: Boolean,
      default: false
    }
  },
  name: "FilesManager",

  computed: {
    currentTabComponent: function() {
      return 'fm-' + this.componentName.toLowerCase()
    },
    getAction() {
      return typeof filesManagerActions === typeof undefined || typeof filesManagerActions.get === typeof undefined ? '/files-manager' : filesManagerActions.get;
    },
    storeAction() {
      return typeof filesManagerActions === typeof undefined || typeof filesManagerActions.store === typeof undefined ? '/files-manager' : filesManagerActions.store;
    },
    showFileAction() {
      return typeof filesManagerActions === typeof undefined || typeof filesManagerActions.show === typeof undefined ? '/files-manager/show' : filesManagerActions.show;
    },
    editAction() {
      return typeof filesManagerActions === typeof undefined || typeof filesManagerActions.update === typeof undefined ? '/files-manager/' : filesManagerActions.update;
    },
    removeAction() {
      return typeof filesManagerActions === typeof undefined || typeof filesManagerActions.remove === typeof undefined ? '/files-manager/' : filesManagerActions.remove;
    },
    filesManagerModel: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>
