<template>
  <div>
    <fm-img :show-file-action="showFileAction" :id="image_id" class="tdfm-pictute"></fm-img>
    <div class="tdfm-btn-container">
      <div :class="$filesManagerClasses(['btn-group'])">
        <button type="button" :class="$filesManagerClasses(['btn', 'btn-primary'])" @click="openModal">
          <slot name="btn"><i class="fm-icon-images-list"></i> {{$t('files_manager')}}</slot>
        </button>
        <button  :class="$filesManagerClasses(['btn', 'btn-danger'])" type="button" @click="$emit('input', 0)" v-if="image_id > 0">
          <i class="fm-icon-trash"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import i18n from '../i18n'

  export default {
    i18n: i18n,
    name: "FmButton",
    props: {
      showFileAction: String,
      value: [String, Number, Array, Object],
      bootstrap: {
        type: Boolean,
        default: true,

      }
    },
    data() {
      return {
        uniqueId: Math.random().toString(36).slice(2)
      }
    },
    created() {
      let vm = this;
      this.$filesManagerHub.$on(this.uniqueId, id => {
        vm.$nextTick(() => {
          vm.$emit('input', id)
        });
      })
    },
    computed: {
      image_id: {
        get() {
          return this.value
        },
        set(id) {
          this.$emit('input', id)
        }
      }
    },
    methods: {
      openModal() {
        this.$fmStore.commit('SET_EVENT_UNIQID', this.uniqueId);
        this.$fmStore.commit('SET_SELECTED', this.image_id);
        this.$fmStore.commit('TRIGGER_MODAL');
      }
    }
  }
</script>
<style scoped>
  .tdfm-btn-container {
    text-align: center;
    padding-top: 30px;
  }

  .tdfm-picture + .tdfm-btn-container {
    padding-top: 15px;
  }
</style>
