<template>
  <picture>
    <template v-for="source in image.sources">
      <source :srcset="source.src" :type="source.mime">
    </template>
    <img :src="image.src" alt="">
  </picture>
</template>

<script>
  // import axios from '../axios'

  export default {
    props: {
      id: {
        type: [Number, String],
        default: 0
      },
      showFileAction: {
        type: String,
        default: null
      },
      bootstrap: {
        type: Boolean,
        default: true,

      }
    },
    data() {
      return {
        image: {
          sources: {},
          src: null
        }
      }
    },
    name: "FmImg",
    created() {
      let vm = this;
      let id = parseInt(this.id)

      if (id !== 0 && !isNaN(id) && id !== null) {
        this.getFileUrl(id);
      }
      this.$watch('id', id => {
        id = parseInt(id);
        if (id !== 0 && !isNaN(id) && id !== null) {
          vm.getFileUrl(id);
        } else {
          this.image = {
            sources: {},
            src: null
          }
        }
      })
    },
    methods: {
      async getFileUrl(id) {
        let vm = this;
        await this.$http.get(this.showFileAction, {params: {id: id}}).then(res => {
          vm.image = res.data;
        }).catch(err => {
          console.log(err.statusText)
        })

      }
    }
  }
</script>

<style scoped>
  picture {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  picture > source, picture > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
</style>
