<template>
    <sortable-columns :lang="lang" :columns="columns" :data="media" @params-changed="paramsChanged">
        <template slot="tbody">
            <tbody>
            <tr v-for="(element, $index) in media.data" :key="$index">
                <th>{{element.id}}</th>
                <td align="center">
                    <template v-if="['image', 'video'].indexOf(validateMimeType(element.file_mime)) !== -1">
                        <silentbox-single
                            :src="element.generated.md" :description="element.original_name">
                            <picture
                                v-if="validateMimeType(element.file_mime) === 'image'">
                                <source :srcset="element.webp.sm" type="image/webp" v-if="element.webp">
                                <img :src="element.generated.sm" alt=""  :class="$filesManagerClasses(['img-fluid'])">
                            </picture>
                            <i  :class="$filesManagerClasses(['text-warning'])" class="fm-icon-3x fm-icon-file-video" v-else></i>
                        </silentbox-single>
                    </template>
                    <template v-else>
                        <a :href="element.url" target="_blank"><i
                            :class="$filesManagerClasses(['text-warning'])"
                            class="fm-icon-2x fm-icon-cloud-download"></i></a>
                    </template>
                </td>
                <td class="tdfm-edit-col">
                    <template v-if="edit === element.id">
                        <div :class="$filesManagerClasses(['input-group', 'align-content-center'])" class="tdfm-edit">
                            <input :class="$filesManagerClasses(['form-control'])" type="text" :value="element.original_name.split('.')[0]"
                                   :ref="'edit_'+ element.id">
                            <div :class="$filesManagerClasses(['input-group-append'])">
                                <span :ref="'edit_type_' + element.id" :class="$filesManagerClasses(['input-group-text'])">.{{ element.original_name.split('.')[1] }}</span>
                                <button :class="$filesManagerClasses(['btn', 'btn-outline-secondary'])" class="fm-icon-check" type="button"
                                        @click="saveName(element.id, $index)"></button>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <span class="tdfm-edit">{{element.original_name}}</span>
                    </template>
                    <button type="button" @click="edit = edit === element.id ? null : element.id"
                            class="fm-icon-pencil"></button>
                </td>
                <td>{{element.file_size|formatBytes}}</td>
                <td>{{element.updated_at|formatDate}}</td>
                <td>
                    <button class="fm-icon-trash" @click="removeMedia(element.id, $index)"></button>
                </td>
            </tr>
            </tbody>
        </template>
    </sortable-columns>
</template>

<script>
/**
 * @param {axios} axios
 */
// import axios from '../axios'
import i18n from '../i18n'
import SortableColumns from "./SortableColumns";
import mimeTypeValidator from '../mime-type-validate'
import moment from 'moment';

export default {
    name: "FmList",
    components: { SortableColumns },
    i18n: i18n,
    props: {
        getAction: String,
        editAction: String,
        removeAction: String,
        bootstrap: {
            type: Boolean,
            default: true,

        }
    },
    data() {
        return {
            lang: document.querySelector('html').getAttribute('lang'),
            edit: null,
            columns: {
                id: {
                    width: 48,
                    type: 'numeric',
                    title: 'ID'
                },
                url: {
                    width: 100,
                    sortable: false,
                    title: this.$t('preview')
                },
                original_name: {
                    type: 'alpha',
                    title: this.$t('name')
                },
                file_size: {
                    width: 120,
                    type: 'numeric',
                    title: this.$t('size')
                },
                updated_at: {
                    title: this.$t('edited'),
                    type: 'numeric',
                    width: 130
                },
                delete: {},
            }
        }
    },
    computed: {
        media() {
            return this.$fmStore.state.media;
        }
    },
    created() {
    },
    filters: {
        formatDate(value, format) {
            const lang = document.querySelector('html').getAttribute('lang');
            if (value) {
                if (typeof format === 'undefined') {
                    format = 'DD MMMM YYYY'
                }
                let date = moment(String(value));
                date.locale(lang);
                return date.format(format)
            }
        }
    },
    methods: {
        async paramsChanged(params) {
            let vm = this;
            await this.$http.get(this.getAction, { params: params.data }).then(res => {
                vm.$fmStore.commit('SET_ATTACHMENTS', res.data);
            })

        },
        validateMimeType(type) {
            return mimeTypeValidator(type);
        },
        async saveName(id, idx) {
            const vm = this;
            const data = {
                id,
                original_name: vm.$refs['edit_' + id][0].value + '' + vm.$refs['edit_type_' + id][0].innerText
            };
            if (this.media.data[idx].original_name !== data.original_name) {
                await this.$http.put(this.editAction + id, data).then(res => {
                    this.$fmStore.commit('EDIT_MEDIA', { id, original_name: data.original_name });
                    this.edit = null;
                }).catch(err => {
                    alert('Something go wrong. Please, try again');
                });
            }
        },
        async removeMedia(id, idx) {
            const vm = this;
            const confirmation = confirm('Are you sure?');
            if (confirmation) {
                await this.$http.delete(this.removeAction + id).then(res => {
                    if(res.data.count !== 0) {
                        alert('This media is used ' + res.data.count + ' times. You can`t delete it.');
                        return false;
                    }
                    vm.edit = null;
                    vm.$fmStore.commit('REMOVE_MEDIA', idx);
                }).catch(err => {
                    alert('Something go wrong. Please, try again');
                });
            }
        },
    }
}
</script>

<style scoped lang="scss">

.tdfm-edit-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .tdfm-edit {
        width: 85%;

        &.tdfm-input-group {
            button, input, span {
                padding: 0 0.75rem;
                height: auto;
                outline: none;
            }

            span {
                background-color: transparent;
            }
        }
    }

    button.fm-icon-pencil {
        margin-left: 15px;
        background-color: transparent;
        border: none;
        outline: none;

        &:before {
            color: green;
        }
    }

    .tdfm-btn-outline-secondary {
        border-color: #ced4da;
    }
}

button.fm-icon-trash {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;

    &:before {
        color: #ff3a36;
    }
}
</style>
