<template>
  <div class="td-modal-backdrop" :class="{'fullscreen' : fullScreen}" v-if="$fmStore.state.modal">
    <div class="td-modal"
         role="dialog"
         aria-labelledby="modalTitle"
         aria-describedby="modalDescription">
      <div class="td-modal-header">
        <div style="align-self: center">
          <div class="td-modal-title">
            {{$t('media_library')}}
          </div>
          <div class="td-modal-tabs">
            <a @click.prevent="activeTab = 2" :class="{'active' : activeTab ===2}"><span>{{$t('upload_new')}}</span></a>
            <a @click.prevent="activeTab = 1"
               :class="{'active' : activeTab ===1}"><span>{{$t('list')}}</span></a>
          </div>
        </div>
        <div class="close-container">
          <a @click.prevent="fullScreen = !fullScreen" style="cursor: pointer;"
             aria-label="Close modal">
            <i :class="{'fm-icon-minimize': fullScreen, 'fm-icon-maximize': !fullScreen}"></i>
          </a>
          <a @click.prevent="close" style="cursor: pointer;"
             aria-label="Close modal">&times;</a>
        </div>
      </div>
      <template v-if="activeTab === 1">
        <div class="td-modal-body">
          <div class="td-modal-col" v-for="(file, $index) in list.data" :key="$index" @click="selectFile(file.id)">
            <div class="filemanager-file-container">
              <template v-if="validateMimeType(file.file_mime) === 'image'">
                <div class="td-img-preview" :class="{active: file.id === selectedElement}"
                     :style="{backgroundImage: 'url('+file.generated.xs+')' }"></div>
              </template>

              <div class="tdfm-actions-container">
                <popover :closeOnContentClick="false" :name="'fm-popover-' + file.id" class="popover-container">
                  <template slot="face">
                    <a href="#" @click.prevent class="fm-popover-toogler">
                      <i class="fm-icon-right-menu"></i>
                    </a>
                  </template>
                  <template slot="content">
                    <div class="filemanager-popover-content">
                      <hr>
                      <a href="" @click.prevent="clickDeleteFile(file.id)" class="tdfm-popover-btn">
                        <i :class="$filesManagerClasses(['text-danger'])" class="fm-icon-trash"></i> <span>{{$t('delete')}}</span>
                      </a>
                    </div>
                  </template>
                </popover>
              </div>
            </div>

            <div class="td-preview-text" v-html="file.original_name"></div>

          </div>
        </div>


        <div class="td-modal-footer">
          <form @submit.prevent="triggerPaginate" class="td-modal-search" autocomplete="off" novalidate>
            <div class="tdfm-input-group">
              <input type="search" :class="$filesManagerClasses(['form-control'])" autocomplete="off" v-model="q">
              <div :class="$filesManagerClasses(['input-group-append'])">
                <button :class="$filesManagerClasses(['btn', 'btn-primary'])" type="submit">
                  {{$t('search')}}
                </button>
              </div>
            </div>
          </form>
          <div class="td-modal-pagination">
            <pagination :limit="3" :data="list"
                        :show-disabled="true"
                        @pagination-change-page="triggerPaginate"
            ></pagination>
          </div>
        </div>
      </template>
      <template v-else-if="activeTab === 2">
        <div class="td-modal-body">
          <div class="upload-container">
            <fm-uploader :store-action="storeAction"
                         @uploaded="triggerPaginate"></fm-uploader>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import mimeTypeValidator from '../mime-type-validate'
import i18n from '../i18n'
import FmUploader from './FmUploader'
import Popover from 'vue-popover'
/**
 * @param {axios} axios
 */
// import axios from '../axios'
import Pagination from "./Pagination";

export default {
  name: "FmModal",
  i18n,
  props: {
    getAction: String,
    storeAction: String,
    bootstrap: {
      type: Boolean,
      default: true,

    }
  },
  data() {
    return {
      fullScreen: true,
      activeTab: 2,
      list: {},
      q: ''
    }
  },
  components: {
    Pagination,
    FmUploader,
    Popover
  },
  async created() {
    await this.triggerPaginate(1);
  },
  computed: {
    eventUniqId() {
      return this.$fmStore.state.eventUniqId
    },
    selectedElement() {
      return this.$fmStore.state.selected;
    }
  },
  methods: {
    close() {
      this.$fmStore.commit('TRIGGER_MODAL');
    },
    async triggerPaginate(page) {
      this.activeTab = 1;
      if (typeof page === 'undefined') {
        page = 1;
      }
      let self = this, params = {
        page: page,
        limit: 24
      };
      if (typeof this.q === 'string' && this.q.length > 0) {
        params['q'] = this.q;
      }
      await this.$http.get(this.getAction, { params: params }).then(res => {
        self.list = res.data;
      })
    },

    clickDeleteFile(id) {
      let vm = this;
      if (confirm(this.$t('confirm_delete'))) {
        document.documentElement.click()
        this.$http.delete(this.getAction + '/' + id).then(res => {
          vm.triggerPaginate(vm.list.current_page);
        }).catch(err => {
          if (err.statusCode === 404) {
            vm.triggerPaginate(vm.list.current_page);
          }
        })
      }
    },
    validateMimeType(type) {
      return mimeTypeValidator(type);
    },
    selectFile(id) {
      this.$filesManagerHub.$emit(this.eventUniqId, id);
      this.close();
    },
  },
}
</script>

<style scoped lang="scss">

.td-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  z-index: 9999;
  justify-content: center;
  align-items: self-start;

  .td-modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    border-radius: 4px;
    overflow-x: auto;
    display: flex;
    max-height: 100%;
    flex: 0 0 98%;
    max-width: 1200px;
    flex-direction: column;
  }

  &.fullscreen {
    padding-top: 0;
    padding-bottom: 0;

    .td-modal {
      background: #FFFFFF;
      box-shadow: 2px 2px 20px 1px;
      border-radius: 4px;
      overflow-x: auto;
      display: flex;
      max-height: 100%;
      height: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      flex-direction: column;
    }


    .td-modal-header {
      max-height: 54px;
    }

    .td-modal-footer {
      max-height: 64px;
    }

  }
}

.td-modal-header,
.td-modal-footer {
  padding: 0;
  display: flex;
  flex: 1;
  overflow: hidden;
  justify-content: space-between;
}

.td-modal-header {
  overflow: initial;
  min-height: 40px;
  background-color: #f0f0f0;
}

.td-modal-footer {
  padding: 15px 0;
  min-height: 64px;
  border-top: 1px solid #eeeeee;
}

.td-modal-body {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.td-modal-col {
  padding: 15px;
  flex: 0 0 33.3333%;
  max-width: 33.333%;
  @media screen and (min-width: 768px) {
    flex: 0 0 25%;
    max-width: 25%;

  }
  @media screen and (min-width: 992px) {
    flex: 0 0 16.666%;
    max-width: 16.666%;

  }
}

.td-img-preview {
  overflow: hidden;
  height: 0;
  padding-top: 100%;
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
}

.close-container {
  flex: 0 0 80px;
  max-width: 80px;
  padding: 0;
  text-align: center;
  align-self: center;
  cursor: pointer;
  font-size: 0;

  a {
    width: 40px;
    font-size: 24px;
    border-left: #eee;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;

    & > i {
      vertical-align: inherit;

      &:before {
        vertical-align: super;
      }
    }

    &:hover {
      background: #fdfdfd;
    }
  }
}

.td-modal-title, .td-modal-tabs {
  display: inline-block;
}

.td-modal-title {
  padding: 11px 15px;
  font-size: 18px;
  line-height: 1;
}

.td-modal-tabs {
  font-size: 0;
  white-space: nowrap;
  line-height: 1;
  vertical-align: top;

  a {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 13px 25px;
    position: relative;

    span {
      position: relative;
    }

    &:hover:before {
      content: '';
      top: 3px;
      bottom: 1px;
      left: 0;
      right: 0;
      position: absolute;
      background: #f5f5f5;
    }

    &.active {
      &:before {
        content: '';
        top: 3px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: #fff !important;
      }
    }
  }

}

.upload-container {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 15px;
}

.td-preview-text {
  padding-top: 7px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
}

.td-modal-search {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 360px;
  max-width: 100%;
}

.td-modal-pagination {
  padding: 0 15px;
}

.filemanager-file-container {
  position: relative;

}

.tdfm-actions-container {
  position: absolute;
  right: 0;
  left: auto;
  min-width: 32px;
  top: 0;
  bottom: 0;
  background: transparentize(#212425, 0.4);
}

.popover-container {
  z-index: 1000;
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  background: transparent;
  box-shadow: none;
  border: none;
  box-shadow: none;
  top: 0;

  .fm-popover-toogler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 32px;
    width: 32px;
    text-align: right;
    padding: 8px;
    font-size: 24px;
    border-radius: 4px;
    line-height: 1;
    vertical-align: middle;
    color: #fff;
  }
}

.filemanager-popover-content {
  display: block;
  position: absolute;
  right: 0;
  min-width: 100%;
  top: 40px;
  left: auto;
  padding: 4px 0;
  background: #fff;
  border: 1px solid #ddd;

  div.divider {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 1px solid #ddd;
  }

  .tdfm-popover-btn {
    display: block;
    padding: 7px 12px;
    color: #212425;
    line-height: 1;
    white-space: nowrap;

    span {
      line-height: 18px;
      vertical-align: middle;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

}
</style>
