<template>
  <div class="td-files-library">
    <form @submit.prevent ref="form">
      <label class="files-select" ref="label">
        <input type="file" multiple
               accept="image/*,video/*,audio/*,text/csv,application/pdf"
               @change="putFiles"
               ref="input">
        <span :class="$filesManagerClasses(['btn', 'btn-primary', 'btn-lg'])">{{$t('choose_file')}}</span>
        <span class="label-title">{{$t('drag_drop_files')}}</span>
      </label>
    </form>
    <template v-if="previews.length > 0">
      <table :class="$filesManagerClasses(['table', 'table-striped'])">
        <tr v-for="(file, index) in previews" :key="index">
          <template v-if="validateMimeType(file.type) === 'image'">
            <td width="100">
              <img :src="file.src" alt="" :class="$filesManagerClasses(['img-fluid'])" />
            </td>
          </template>
          <template v-else>
            <td width="100" :class="$filesManagerClasses(['text-center'])">
              <i :class="'text-warning fm-icon-file-' + validateMimeType(file.type)"></i>
            </td>
          </template>
          <td>
            <div>{{file.name}}</div>
            <div :class="$filesManagerClasses(['text-muted'])">{{$t('size')}}: {{file.size|formatBytes}}</div>
          </td>
          <td width="50">
            <button :class="$filesManagerClasses(['btn', 'btn-danger'])" type="button" @click="dropFile(index)"><i
                class="fm-icon-trash"></i></button>
          </td>
        </tr>
      </table>
      <button  :class="$filesManagerClasses(['btn', 'btn-success', 'btn-lg'])" type="button" @click="storeFiles">
        <i class="fm-icon-cloud-upload"></i>
        {{$t('upload')}}
      </button>
    </template>
  </div>
</template>

<script>
/**
 * @param {axios} axios
 */
// import axios from '../axios'
import $i18n from '../i18n'
import mimeTypeValidator from '../mime-type-validate'

export default {
  name: "FmUploader",
  i18n: $i18n,
  props: {
    storeAction: String,
    bootstrap: {
      type: Boolean,
      default: true,

    }
  },
  created() {
  },
  data: () => {
    return {
      files: [],
      labelClass: true,
    }
  },
  computed: {
    previews() {
      return this.$fmStore.state.previews
    }
  },
  methods: {
    putFiles() {
      let vm = this, files = this.$refs.input.files, file, reader = [];
      /**
       * @param {FileList} files
       */
      if (files instanceof FileList && files.length > 0) {
        let filesCount = files.length;
        for (let i = 0; i < filesCount; i++) {
          /**
           * @param File file
           */
          file = files.item(i);
          if (file instanceof File) {
            if (String(file.type).search(/^image\//) > -1) {
              this.files.push(file);
              /**
               * @param {FileReader} reader
               */
              reader = new FileReader();
              reader.fileName = file.name;
              reader.custom_index = i;
              reader.readAsDataURL(file);
              reader.onload = (event) => {
                vm.$nextTick(() => {
                  vm.$fmStore.commit('ADD_PREVIEW', {
                    type: files.item(event.target.custom_index).type,
                    size: files.item(event.target.custom_index).size,
                    name: files.item(event.target.custom_index).name,
                    src: event.target.result,
                  });

                });
              }
            } else if (mimeTypeValidator(file.type) !== null) {
              Array.prototype.push.apply(this.files, [file]);
              vm.$nextTick(function() {
                vm.$fmStore.commit('ADD_PREVIEW', {
                  type: file.type,
                  size: file.size,
                  name: file.name,
                });
              });
            }
          }
        }

      }
    },
    dropFile($index) {
      this.$refs.form.reset();
      this.files.splice($index, 1);
      this.$fmStore.commit('DROP_PREVIEW', $index);
    },
    async storeFiles() {
      let data = new FormData(), filesCount = this.files.length, vm = this;
      for (let i = 0; i < filesCount; i++) {
        data.append('files[' + i + ']', this.files[i], this.files[i].name);
      }
      await this.$http.post(vm.storeAction, data)
        .then(res => {
          vm.files = [];
          vm.$fmStore.commit('RESET_PREVIEWS');
          vm.$fmStore.commit('SET_ATTACHMENTS', res.data);
          vm.$refs.form.reset();
          vm.$emit('uploaded');
        })
        .catch(err => {
          if (err.response.status === 413) {
            console.log(err.response.statusText)
          }
        })

    },
    validateMimeType(type) {
      return mimeTypeValidator(type);
    }
  }
}
</script>

<style scoped lang="scss">

@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

.files-select {
  margin: 0;
  font-size: 0;
  position: relative;
  display: block;
  padding: 0 16px;
  border: 2px dashed #ddd;
  line-height: 68px;
  white-space: nowrap;
  overflow: hidden;
  background: #efefef;
  cursor: pointer;

  input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    opacity: 0;
  }

  .btn {
    vertical-align: middle;
    position: relative;
    z-index: 1001;
  }

  .label-title {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 24px;
    font-weight: 500;
    opacity: .5;
  }
}

.table {
  margin-top: 30px;
  margin-bottom: 15px;
  border-left: #dee2e6;
  border-right: #dee2e6;
}

.td-files-library {
  padding-bottom: 25px;
}
</style>
