<template>
  <renderless-laravel-vue-pagination :data="data" :limit="limit" :show-disabled="showDisabled"
                                     v-on:pagination-change-page="onPaginationChangePage">
    <ul :class="$filesManagerClasses(['pagination'])" v-if="computed.total > computed.perPage"
        slot-scope="{ data, limit, computed, prevButtonEvents, nextButtonEvents, pageButtonEvents }">
      <li :class="$filesManagerClasses(['page-item', 'pagination-prev-nav', !computed.prevPageUrl? 'disabled': ''])"
          v-if="computed.prevPageUrl || showDisabled">
        <a :class="$filesManagerClasses(['page-link'])" href="#" aria-label="Previous"
           :tabindex="!computed.prevPageUrl && -1"
           v-on="prevButtonEvents">
          <slot name="prev-nav">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </slot>
        </a>
      </li>
      <li :class="$filesManagerClasses(['page-item', 'pagination-page-nav', page === computed.currentPage? 'active': ''])"
          v-for="(page, key) in computed.pageRange" :key="key">
        <a :class="$filesManagerClasses(['page-link'])" href="#" v-on="pageButtonEvents(page)">{{ page }}</a>
      </li>
      <li :class="$filesManagerClasses(['page-item', 'pagination-next-nav', !computed.nextPageUrl? 'disabled': ''])"
          v-if="computed.nextPageUrl || showDisabled">
        <a :class="$filesManagerClasses(['page-link'])" href="#" aria-label="Next"
           :tabindex="!computed.nextPageUrl && -1"
           v-on="nextButtonEvents">
          <slot name="next-nav">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </slot>
        </a>
      </li>
    </ul>
  </renderless-laravel-vue-pagination>
</template>

<script>
import RenderlessLaravelVuePagination from "laravel-vue-pagination/src/RenderlessLaravelVuePagination";

export default {
  components: { RenderlessLaravelVuePagination },
  props: {
    data: {
      type: Object,
      default: () => {
      }
    },
    bootstrap: {
      type: Boolean,
      default: true,

    },
    limit: {
      type: Number,
      default: 0
    },
    showDisabled: {
      type: Boolean,
      default: false
    }
  }
  ,
  methods: {
    onPaginationChangePage(page) {
      this.$emit('pagination-change-page', page);
    }
  }
}
</script>
