<template>
  <div>
    <div class="tdfm-row tdfm-justify-content-between tdfm-mb-4">
      <div class="tdfm-col-auto">
        <div class="tdfm-input-group">
          <div class="tdfm-input-group-prepend">
            <span class="tdfm-input-group-text">{{$t('show')}}</span>
          </div>
          <input @keyup="triggerLimit" type="number" class="tdfm-form-control" v-model="limit" :placeholder="15">
          <div class="tdfm-input-group-append">
            <span class="tdfm-input-group-text">{{$t('entities')}}</span>
          </div>
        </div>
      </div>
      <form @submit.prevent="getData" @reset="_resetSearch" autocomplete="off"
            novalidate="novalidate"
            class="tdfm-col-auto">
        <div class="tdfm-input-group">
          <div class="tdfm-input-group-prepend">
            <span class="tdfm-input-group-text">{{ $t('search') }}:</span>
          </div>
          <input type="search" class="tdfm-form-control" v-model="q" :placeholder="$t('search')">
        </div>
      </form>
    </div>
    <table class="tdfm-table">
      <thead>
      <tr>
        <th :width="column.width" v-for="(column, name) in columnsList" :key="name">
          <template v-if="column.sortable">
            <div class="tdfm-row tdfm-justify-content-between tdfm-row-nowrap">
              <div class="tdfm-col-auto" v-html="column.title"></div>
              <div class="tdfm-col-auto">
                <a href="#" @click.prevent="sortChange(name)">
                  <i class="fa" :class="getClass(name, column.type)"></i>
                </a>
              </div>
            </div>
          </template>
          <template v-else>
            <span v-html="column.title"></span>
          </template>
        </th>
      </tr>
      </thead>
      <slot name="tbody"></slot>
    </table>
    <div class="tdfm-row tdfm-justify-content-between">
      <div class="tdfm-col-auto tdfm-align-self-center">
        <small v-if="data.total">
          {{$t('total', {
          from: data.from,
          to: data.to,
          total: data.total,
          last_page: data.last_page
          })}}
        </small>
      </div>
      <div class="tdfm-col-auto">
        <pagination :limit="5" :data="data"
                    :show-disabled="true"
                    @pagination-change-page="pageChange"
        >
        </pagination>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '../i18n'
import Pagination from "./Pagination";

export default {
  name: "SortableColumns",
  components: { Pagination },
  props: {
    columns: Object,
    lang: String,
    data: Object,
    bootstrap: {
      type: Boolean,
      default: true,

    }
  },
  i18n: i18n,
  data() {
    let dataObject = {
      q: null,
      limit: 15,
      direction: null,
      sort: null,
      page: 1
    }, search = this._getSearchParams();
    if (Object.keys(search).length > 0) {
      dataObject = Object.assign({}, dataObject, search);
    }
    return dataObject;
  },
  computed: {
    columnsList() {
      const defaultColumnConfig = {
        sortable: true,
        direction: null,
        type: 'alpha',
        hidden: false,
        width: 'auto',
        title: ''
      };
      let columnsList = {}, name;
      for (name in this.columns) {
        if (this.columns.hasOwnProperty(name)) {
          columnsList[name] = Object.assign({}, defaultColumnConfig, this.columns[name]);
        }
      }
      return columnsList;
    }
  },
  created() {
    this.getData();
    i18n.locale = this.lang;
    this.$watch('lang', (lang) => {
      i18n.locale = lang;
    })
  },
  methods: {
    pageChange(page) {
      this.page = page;
      this.getData();
    },
    _resetSearch() {
      this.page = 1;
      this.q = null;
      this.getData();
    },

    sortChange(key) {
      this.page = 1;
      this.direction = this.sort !== key || this.direction === 'desc' ? 'up' : 'down';
      this.sort = key;
      this.getData();
    },

    getClass(key, type) {
      if (key === this.sort) {
        let faClass = 'fm-icon-sort';
        if (type !== null) {
          faClass += '-' + type;
        }
        return faClass += '-' + (this.direction === 'desc' ? 'down' : 'up')
      }
      return 'fm-icon-sort'
    },
    triggerLimit() {
      this.page = 1;
      this.getData();
    },
    getData() {
      let params = { page: this.page };
      if (this.sort !== null) {
        params['sort'] = this.sort;
        params['direction'] = this.direction;
      }
      if (this.q !== null && this.q.length > 0) {
        params['q'] = this.q
      }
      if (this.limit !== null && this.limit > 0) {
        params['limit'] = this.limit
      }
      this.$emit('params-changed', { query_string: this._serialize(params), data: params });
    },
    _serialize(params) {
      let str = [];
      for (let p in params)
        if (params.hasOwnProperty(p)) {
          str.push(encodeURIComponent(p) + "=" + encodeURIComponent(params[p]));
        }
      return str.join("&");
    },
    _getSearchParams() {
      let search = window.location.search;
      let args = search.substring(1).split('&'), argsParsed = {}, i, arg, kvp, key, value, argsLength;
      for (i = 0, argsLength = args.length; i < argsLength; i++) {
        arg = args[i];
        if (-1 === arg.indexOf('=')) {
          argsParsed[decodeURIComponent(arg).trim()] = true;
        } else {
          kvp = arg.split('=');
          key = decodeURIComponent(kvp[0]).trim();
          value = decodeURIComponent(kvp[1]).trim();
          argsParsed[key] = value;
        }
      }
      return argsParsed;
    },
  }
}
</script>
<style scoped lang="scss">
.tdfm-table {
  thead {
    > tr {
      > th {
        border-right: 1px solid #dee2e6;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  border: 1px solid #dee2e6;
  border-top-color: transparent;
}

.post-actions {
  opacity: 0;
  margin-top: 10px;

  a {
    font-size: 0.9em;
  }
}

tbody {
  tr:hover {
    .post-actions {
      opacity: 1;
    }
  }
}

[type="number"] {
  width: 72px;
}

[type="search"] {
  max-width: 260px;
}

.tdfm-row-nowrap {
  flex-wrap: nowrap;
}
</style>
