@charset "UTF-8";

@font-face {
  font-family: "files-manager";
  src: url("fonts/files-manager.eot");
  src: url("fonts/files-manager.eot?#iefix") format("embedded-opentype"),
  url("fonts/files-manager.woff") format("woff"),
  url("fonts/files-manager.ttf") format("truetype"),
  url("fonts/files-manager.svg#files-manager") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="fm-icon-"],
[class*=" fm-icon-"] {
  display: inline-block;
  font: normal normal normal 18px/1 'files-manager' !important;
  vertical-align: text-top;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0 !important;

  &:before {
    font-size: 18px !important;
  }

  &.fm-icon-3x:before {
    font-size: 52px !important;
  }

  &.fm-icon-2x:before {
    font-size: 36px !important;
  }
}

.fm-icon-times:before {
  content: "\61";
}

.fm-icon-images-list:before {
  content: "\62";
}

.fm-icon-check:before {
  content: "\63";
}

.fm-icon-pencil:before {
  content: "\64";
}

.fm-icon-cloud-upload:before {
  content: "\65";
}

.fm-icon-cloud-done:before {
  content: "\66";
}

.fm-icon-cloud-download:before {
  content: "\67";
}

.fm-icon-images-list-lat:before {
  content: "\68";
}

.fm-icon-trash:before {
  content: "\69";
}

.fm-icon-checks:before {
  content: "\6a";
}

.fm-icon-images-folder:before {
  content: "\6b";
}

.fm-icon-flopy:before {
  content: "\6c";
}

.fm-icon-search:before {
  content: "\6d";
}

.fm-icon-sort-alpha-up:before {
  content: "\6e";
}

.fm-icon-sort-alpha-down:before {
  content: "\6f";
}

.fm-icon-sort-up:before {
  content: "\70";
}

.fm-icon-sort-down:before {
  content: "\71";
}

.fm-icon-sort-numeric-up:before {
  content: "\72";
}

.fm-icon-sort-numeric-down:before {
  content: "\73";
}

.fm-icon-file-audio:before {
  content: "\74";
}

.fm-icon-file-video:before {
  content: "\75";
}

.fm-icon-file-image:before {
  content: "\76";
}

.fm-icon-file-powerpoin:before {
  content: "\77";
}

.fm-icon-file-pdf:before {
  content: "\78";
}

.fm-icon-file-word:before {
  content: "\79";
}

.fm-icon-file-excel:before {
  content: "\7a";
}

.fm-icon-file-zip:before {
  content: "\41";
}

.fm-icon-file-code:before {
  content: "\42";
}

.fm-icon-arrow-left:before {
  content: "\43";
}

.fm-icon-arrow-right:before {
  content: "\44";
}

.fm-icon-open-url:before {
  content: "\45";
}

.fm-icon-url:before {
  content: "\46";
}

.fm-icon-right-menu:before {
  content: "\47";
}

.fm-icon-cog:before {
  content: "\48";
}

.fm-icon-maximize:before {
  content: "\49";
}

.fm-icon-minimize:before {
  content: "\4a";
}
